<!DOCTYPE html>
<html>
<head>
  <title>Mentorme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Asul' rel='stylesheet' type='text/css'>
	<script> var SSOobjParams = {} </script>
	<script src="http://www.slijs.com/assets/sso.js"></script>
</head>
<body>
<div class="container">
	<div id="welcome_page">
	<h1>Coffee house Mentor</h1>
	</div>

	<div class="sign_in_page">
	<h2>Create a profile and find your perfect mentor today!</h2>

	<a href="/profiles/new" class="ssosignin btn btn-default">Sign In</a>
	<p>Create a profile and start finding your match</p><br>
	<a href="/profiles" class="btn btn-default">Tour In</a>
	<p>Take a look at our great mentors and mentees</p>
	</div>
</div>
</body>
</html>
